CONFIG_TARGET_ramips=y
CONFIG_TARGET_ramips_mt7621=y
CONFIG_TARGET_ramips_mt7621_DEVICE_d-team_newifi-d2=y
#CONFIG_TARGET_PREINIT_IP="10.1.1.1"
#CONFIG_TARGET_PREINIT_BROADCAST="10.1.1.255"
#CONFIG_LINUX_5_15=y


# OAF Appliciations

CONFIG_PACKAGE_luci-app-accesscontrol=y
CONFIG_PACKAGE_luci-app-adblock=y
CONFIG_PACKAGE_luci-app-advanced-reboot=y
CONFIG_PACKAGE_luci-app-aliddns=y
CONFIG_PACKAGE_luci-app-attendedsysupgrade=y


